@import 'utils/var';
/* some var() & calc() */
body {
color: var(--mainColor);
font-size: var(--fontSize);
line-height: calc(var(--fontSize) * 1.5);
padding: calc((var(--fontSize) / 2) + 1px);
}
.link:any-link {
    color: #14253698;
}
:--button {
    background-color: var(--mainColor);
}
:--button:--enter {
    background-color: var(--mainColor);
}
.blur {
    filter: blur(4px);
}
.sepia {
    filter: blur(.8);
}
.sepia:--enter {
    color: #87654321;
}